.forgotpassword{
    width: 100%;
    height: auto;
    background-color: #EBEBF3;
    .forgoth6{
        text-align: center;
         font-size: 30px;
         font-family: 'Poiret One', cursive;
    }
  form{
    label{
        font-family: 'Catamaran', sans-serif;
        font-size: 15px;
        span{
            color: #CE7C9F;
        }
    }
    .form-control{
        border-radius: 10px;
        background-color: transparent;
        border: 2px solid #fff;
        &:focus{
            box-shadow: none;
            border: 2px solid #CE7C9F;
            background-color: transparent;
        }
     
    }
    .valid{
        border: 2px solid red;
        animation-name: shake;
        animation-timing-function: 2s;
    }
    .btn3{
        border-radius: 10px;
        border: 2px solid #fff ;
        border-left: none;
        &:focus{
            border: 2px solid #fff;
        }
        i{
            color: rgb(148, 148, 148);
        }
      }
  }
  .d-flex{
    .captcha{
        width: 80px;
        height: 40px;
        background-color: #CE7C9F;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-size: 20px;
            font-family: 'Catamaran', sans-serif;
            font-weight: bold;
            color: #fff;
        }
      }
      .fa-rotate {
         font-size: 18px;

         color: #6899E4;
         cursor: pointer;
         transition: 250ms;
         &:hover{
            color: #CE7C9F;
         }
      }
      .updatep{
        font-size: small;
        font-family: 'Catamaran', sans-serif ;
        color: grey;
      }
    
      .submitPass{
        width: 130px;
        height: 38px;
        border-radius: 50px;
        font-size: 15px;
        font-family: 'Catamaran', sans-serif;
        font-weight: bold;
        background-color: #EBECF2;
        border: 2px solid #fff;
        transition: 250ms;
        &:hover{
            background-color: #CE7C9F;
            color: #fff;
            border: none;
        }
    }
    
   }
   .updatep2{
    font-size: 13px;
    font-family: 'Catamaran', sans-serif ;
    color: red;
   }
   .updatep3{
       display: none;
   }
}
