.shop{
    width: 100%;
    height: auto;
    background-color: #EBEBF3;
    .shopp{
        font-size: 50px;
        font-family: 'Poiret One', cursive;
        color: #4283df;
    }
    .shopp1{
        font-size: 20px;
        font-family: 'Catamaran', sans-serif;
    }
    .container{
        .resultp{
            font-size: 22px;
            transform: translateY(-30px);
            font-family: 'Catamaran', sans-serif;
        }
        form{

            .form-control{
               border-radius: 0px;
               background-color: transparent;
               border: 2px solid #fff;
               border-right: none;
               &:focus{
                  box-shadow: none;
               }
               &::placeholder{
                  font-family: 'Catamaran', sans-serif;
                  font-size: small;
               }
            }
            .input-group-text{
               border-radius: 0px;
               border: 2px solid #fff;
               background-color: transparent;
               border-left: none;
            
               i{
                  font-size: small;
                  color: grey;
               }
            }
           
        }
        select{
            border: 2px solid #fff;
            background-color: transparent;
            padding: 6px;
            &:focus{
                border: 2px solid #CE7C9F;
                outline: none;
            }
        }
       
        .gridbtn{
            border: 1px solid rgb(230, 230, 230);
            background-color: #CE7C9F;
            i{
                color: #fff;
            }
        }
         .active{
            background-color: #4283df;
        }
      .shopBox{
       .shopImg{
        position: relative;
        .cart{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba($color: #ececec, $alpha: .4);
           opacity: 0;
           transition: 250ms;
            .d-flex{
                .iconBox{
                    cursor: pointer;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: #CE7C9F;
                    margin: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: translateY(-110px);
                    transition: 250ms;
                    i{
                        font-size: 15px;
                        color: #fff;
                    }
                }
                .iconBox1{
                    transition: .2s;
                    &:hover{
                        background-color: #5083cf;
                    }
                }
                .iconBox2{
                    transition: .4s;
                      &:hover{
                        background-color: #5083cf;
                    }
                }
                .iconBox3{
                    transition: .6s;
                      &:hover{
                        background-color: #5083cf;
                    }
                }
            }
        }
        &:hover{
            .cart{
                opacity: 1;
                cursor: pointer;
              
                .d-flex{
                    .iconBox{
                        transform: translateY(0px);
                        
                    }
                }
               
            }
        }
       
        
     
    }
       
        .shoptxt{
            font-family: 'Poiret One', cursive;
            font-size: 18px;
            font-weight: bold;
            transition: 250ms;
            &:hover{
                cursor: pointer;
                color: #CE7C9F;
            }
        }
        .shoptxt1{
            font-size: x-small;
            transform: translateY(21px);
            color: #CE7C9F;
        }
        img{
            mix-blend-mode:multiply; //                                         Onemli
        }
      }
    }
    .sendbtn{
        width: 140px;
        height: 39px;
        border-radius: 50px;
        font-size: 10px;
        font-family: 'Catamaran', sans-serif;
        font-weight: bold;
        background-color: #EBECF2;
        border: 2px solid #fff;
        transition: 250ms;
        &:hover{
            background-color: #CE7C9F;
            color: #fff;
            border: none;
        }
    }
}

@media (max-width:768px){
    .shop{
        .container{
            .row{
                .shopBox{
                    margin-top: 50px;
                    .shoptxt{
                        text-align: left;
                        font-size: x-small;
                    }
                    .shoptxt1{
                        font-size: 5.5px;
                    }
                }
                form{
                    width: 100%;
                   span{
                    margin-right: auto !important;
                   }
                }
                .selectflex{
                     justify-content: start !important;
                     margin-top: 0 !important;
                     select{
                        width: 100%;
                     }
                }
            }
        }
        .shopp{
            font-size: 30px;
        }
        .shopp1{
            font-size: 15px;
            text-align: center  !important;
        }
    }
}